.nav-blue {
  background-color: #54b4eb;
}

.navbar-default.nav-blue .active > a {
  background-color: #2885C4;

}

.main-nav {
  margin-bottom: 0px;
}

.display-none {
  display: none;
}

.buffer {
  height: 15px;
}

.btn-tall {
  padding-top: 10px;
  padding-bottom: 10px;
}