/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
  padding: 30px 0;
}

.search-container {
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar {
  margin-right: 10px;
}

.header-searchbar {
  margin: 9px 17px 0px 0px;
}

.star-div {
  float: right;
  height: 20px;
 }

.search-star {
  position: relative;
  top: -3px;
  margin-left: 7px;
}

.search-text-div {
  float:right;
}

.search-string-div {
  margin-left: -10px;
  margin-right: -10px;
}

.filter-header {
  display: inline-block;
  margin-right: 8px;
}

.grid-spacing {
  padding-left: 5px;
  padding-right: 5px;
}

.prof-div {
  height: 137px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; 
  cursor: hand;
}

.prof-div:hover {
  color: #000000;
  text-decoration: none;
  border-color: #0069d6;
  -webkit-box-shadow: 0 1px 5px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 5px rgba(0, 105, 214, 0.25);
}

.prof-pic {
  padding-right: 10px;
}

.prof-image {
    max-width: 127px;
    max-height: 127px;
}

.prof-info {
 height: 100px;
}

.prof-hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.prof-keywords {
  padding-left: 10px;
}

.disabled {
  color: #aaaaaa;
}

 /*
  * Off Canvas
  * --------------------------------------------------
  */
 @media screen and (max-width: 767px) {
   .row-offcanvas {
     position: relative;
     -webkit-transition: all .25s ease-out;
          -o-transition: all .25s ease-out;
             transition: all .25s ease-out;
   }

   .row-offcanvas-right {
     right: 0;
   }

   .row-offcanvas-left {
     left: 0;
   }

   .row-offcanvas-right
   .sidebar-offcanvas {
     right: -50%; /* 6 columns */
   }

   .row-offcanvas-left
   .sidebar-offcanvas {
     left: -50%; /* 6 columns */
   }

   .row-offcanvas-right.active {
     right: 50%; /* 6 columns */
   }

   .row-offcanvas-left.active {
     left: 50%; /* 6 columns */
   }

   .sidebar-offcanvas {
     position: absolute;
     top: 0;
     width: 50%; /* 6 columns */
   }
 }